{% extends 'encyclopedia/layout.html' %}

{% block title %}
  Create new
{% endblock %}

{% block body %}
  <h1>Create New Entry </h1>

  <form action="{% url 'create_new' %}" method="post">
    {% csrf_token %}
    <p>
      <h2><input type="text" name="title" placeholder='Title'></h2>
    </p>
    <p>
      <textarea name="content" rows="5" cols="10" placeholder="#Enter Markdown contents here"></textarea>
    </p>
    <p>
      <input type="submit" value="Submit">
    </p>
  </form>
{% endblock %}
